.card {
  width: 80vw;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__name {
    position: absolute;
    bottom: 1.2rem;
    color: var(--ion-color-dark);
    font-size: 1rem;
  }
}
