<ion-card class="card">
  <img class="card__image" [src]="recipe.image" />
  <ion-card-header>
    <ion-card-subtitle class="card__subtitle">
      {{ recipe.sourceName }}
    </ion-card-subtitle>
    <ion-card-title class="card__title">{{ recipe.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="footer-wrapper">
      <ion-label
        (click)="onClickReadMore()"
        class="card__label"
        color="primary">
        Read more
      </ion-label>
    </div>
  </ion-card-content>
</ion-card>
