<ion-card class="card">
  <img class="card__image" [src]="recipe.image" />
  <ion-card-header>
    <ion-card-subtitle class="card__subtitle">
      {{ recipe.sourceName }}
    </ion-card-subtitle>
    <ion-card-title class="card__title">{{ recipe.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="footer-wrapper">
      <ion-button
        (click)="onToggleFavoritesStatus()"
        class="card__button button"
        color="success"
        [fill]="isFavorite ? 'solid' : 'outline'">
        <ion-icon class="button__icon" slot="start" name="star"></ion-icon>
        <span class="button__text">
          {{ isFavorite ? 'Del' : 'Add' }}
        </span>
      </ion-button>
      <ion-label
        (click)="onClickReadMore()"
        class="card__label"
        color="primary">
        Read more
      </ion-label>
    </div>
  </ion-card-content>
</ion-card>
