.page {
  padding: 20px;
  height: 100%;
}

.title {
  color: var(--ion-color-dark);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;

  &-2 {
    color: var(--ion-color-dark);
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capitalize;
  }
}

.sub-title {
  color: var(--ion-color-dark-tint);
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
}

.text-align {
  &-start {
    text-align: start;
  }

  &-center {
    text-align: center;
  }
}
